#foreach($doc in $response.results)
	#foreach($value in $doc.getFieldValues('subject'))
	  #if( $velocityCount == 1 )
	    #set ( $subject = $value )
	  #end
	#end
	
	#foreach($value in $doc.getFieldValues('attrib'))
		#if($value.startsWith('bb0239751d xdre:numComponents|||'))
			#set($component = $value.trim().substring(32).replace('"',''))
		#end
	#end
	
	#foreach($value in $doc.getFieldValues('MODS_Title'))
	  #if( $velocityCount == 1 )
	    #set ( $title = $value )
	  #end
	#end
#end

<html>
<head>
<title>Document Viewer</title>
<STYLE TYPE="text/css">
P {color: #666666; font-size: 8pt; font-family: Arial,helvetica,sans-serif}
H1 {color: #FFFFFF; font-size: 18pt; font-family: Arial, helvetica, sans-serif}
body {/*background-color:#eeffff;*/background-color:#e5eff7; }
</STYLE>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3409104-8', {cookieDomain: window.location.hostname});
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0026/4339.js" async="async"></script>
</head>

<body>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>

<td>
<p>
&nbsp;&nbsp;<b>Select a page below:</b><br><br>
#set($Integer = 0)
<table width="100%" cellpadding="0" cellspacing="0" border="0">
#foreach($count in [1..$Integer.parseInt($component)])
<tr><td width="22" align="right"></td><td><p><a href="javascript:displayImage('$!{subject}','$!{count}','$!{title}')" STYLE="text-decoration: none;" target="view">
Page $count</a></p></td></tr>
#end
</table>
<br>
</p>
</td>

</tr>
</table>


<p>
<a href="javascript:displayDescription()" target="view">Display Metadata</a><br>
</p>


</body>
</html>
