#foreach($doc in $response.results)
	#foreach($value in $doc.getFieldValues('MODS_Title'))
	  #if( $velocityCount == 1 )
	    #set ( $title = $value )
	  #end
	#end
#end

<html>
<head>
<title>Compound Document Viewer</title>
<LINK REL="stylesheet" TYPE="text/css" HREF="/ceo/client-style.css">
<STYLE TYPE="text/css">
body {/*background-color:#eeffff;*/background-color:#e5eff7; }
</STYLE>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3409104-8', {cookieDomain: window.location.hostname});
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0026/4339.js" async="async"></script>
</head>

<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
<br/>

<table width="100%" bgcolor="#333333" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="100%" bgcolor="#333333"><img src="/ceo/images/spacer.gif" width="1" height="3" alt="" border="0"></td>
</tr>
<tr>
<td width="100%" bgcolor="#999999" align="center"><p class="emph"><b>$!title</b></p></td>
</tr>
<tr>
<td width="100%" bgcolor="#333333"><img src="/ceo/images/spacer.gif" width="1" height="3" alt="" border="0"></td>
</tr>
</table>
</body>
</html>
